<launch>

          
  <!-- Start joints trajectory controller controller -->
    <rosparam file="$(find my_dynamixel_tutorial)/joints_trajectory_controller2.yaml" command="load"/>
    <node name="controller_spawner_meta2" pkg="dynamixel_controllers" type="controller_spawner.py"
          args="--manager=dxl_manager
                --type=meta
                b_arm_controller
                gripper_joint                       
               "
          output="screen"/>
</launch>
